.card{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #141720;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card:hover{
    transform: scale(1.04);
}

.card img{
    width: 100%;
    height: 50%;
    border-radius: 8px;
    object-fit: cover;
}

.property_details h5{
    font-size: 18px;
    color: #ffffff;
}

.property_details p{
    font-size: 12px;
    color: #898989;
}