.main {
    position: relative;
    display: flex;
    width: calc(90% - 300px);
    margin-left: calc(5% + 300px);
    margin-top: 100px;
    background-color: #29313C;
    min-height: 620px;
    border-radius: 15px;
    padding: 10px;
}

.left {
    width: 50%;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right form h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.input, .button, .noAccount, .already{
    width: 90%;
}

.input select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1D232F;
    border: none;
    outline: 2px solid #6c6c6c;
}

.mapContainer{
    width: 90%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.input select::placeholder {
    color: #9b9b9b;
}

.input:focus-within select {
    outline: 2px solid #a9aaffc0;
    box-shadow: 0 0 0 5px #393958ac;
}

.noAccount p, .already p{
    font-size: 15px;
}

.noAccount p a,.already p a{
    color: #6e6ebc;
    text-decoration: underline;
    font-size: 17px;
}

@media screen and (max-width: 993px) {
    .left{
        display: none;
    }

    .right {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 90%;
        margin: 100px auto;

    }

    .right form {
        width: 100%;
    }
    
}