.hamburger{
    width: 30px;
    height: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    display: none;
}

.hamburgerClose .line1{
    transform: rotate(-225deg) translate(7px, -7px);
}

.hamburgerClose .line2{
    opacity: 0;
    transform: translateX(-100%);
}

.hamburgerClose .line3{
    transform: rotate(225deg) translate(7px, 7px);
}

.hamburger div{
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    /* margin: 5px 0; */
    transition: all 0.3s;
}

@media screen and (max-width: 768px){
    .hamburger{
        display: flex;
    }
}