.input{
    width: 90%;
}

.input input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1D232F;
    border: none;
    outline: 2px solid #6c6c6c;
}

.input input::placeholder {
    color: #9b9b9b;
}

.input:focus-within input, .input:focus-within select {
    outline: 2px solid #a9aaffc0;
    box-shadow: 0 0 0 5px #393958ac;
}